@import '../variables.scss';

.video,.aboveVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.aboveVideo {
    color: white;
    text-shadow: 2px 2px 8px black;
}
.aboveVideo h1{
    font-size:86px;
}

.centerInfoDiv{
    top: 600px;
    text-align: center;
    opacity: 0.9;
}
.centerInfoDiv button{
    color: $fore1;
    font-size: 24px;
    background: $contrast1;
    border: none;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    transition: 0.2s;
}
.centerInfoDiv button:hover{
    background: $contrast2;
}
.centerInfoDiv button:active{
    transition: 0s;
    background: $contrast1;
}
.cruVideo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.videoAndInfo{
    height:80vh;
    
    position: relative;
}
@media (min-width:992px) { 
    .video{
        padding: 50px;
    }
    .cruVideo{
        border-radius: 50px;
    }
}