.drul_floating_3d{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #353b48;
    overflow: hidden;
    font-size: 30vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.drul_floating_3d p{
    transform:skew(6deg);
    color: rgba(36, 116, 101, 0.6);
    text-shadow:
    -14px 14px 0 rgb(18, 18, 18),
    -1px 1px 0 rgb(18, 18, 18),
    -2px 2px 0 rgb(18, 18, 18),
    -3px 3px 0 rgb(18, 18, 18),
    -4px 4px 0 rgb(18, 18, 18),
    -5px 5px 0 rgb(18, 18, 18),
    -6px 6px 0 rgb(18, 18, 18),
    -7px 7px 0 rgb(18, 18, 18),
    -8px 8px 0 rgb(18, 18, 18),
    -9px 9px 0 rgb(18, 18, 18),
    -10px 10px 0 rgb(18, 18, 18),
    -11px 11px 0 rgb(18, 18, 18),
    -12px 12px 0 rgb(18, 18, 18),
    -13px 13px 0 rgb(18, 18, 18),
    -14px 14px 0 rgb(18, 18, 18),
    -15px 15px 0 rgb(18, 18, 18),
    -16px 16px 0 rgb(18, 18, 18),
    -17px 17px 0 rgb(18, 18, 18),
    -18px 18px 0 rgb(18, 18, 18),
    -19px 19px 0 rgb(18, 18, 18),
    -15px 15px 35px rgba(0, 0, 0, 0.2),
    -35px 15px 10px rgba(0, 0, 0, 0.1);
}